*{
    text-decoration: none;
    list-style: none;
}
#background{
    box-shadow: 0px 1px 2px 3px black;
    width: 160px;
    height: 200px;
}
.menu a{
    width: 100px;
    margin: 5px;
    padding: 5px;
    background: #0d90df;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    line-height: 45px;
    border: 2px dashed #fff;
    border-radius: 10px;
    box-shadow: 0 0 0 4px #0d90df, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
    text-shadow: -1px -1px #aa3030;
}
.menu li:hover{
    transition: 0.5s cubic-bezier(0.5, 0.82, 0.165, 1);
    padding: 0px 20px;
}
